.margem{
margin-top:30px;
margin-bottom: 50px;
padding-top:10px;
}

.parceiros{
   background-color:#8bc2e7; 
}
h2{
    text-align: center;
}
.bg-footer{
    background-color: rgb(139, 183, 212);
    color: rgb(125, 165, 211);
}